body{
    display: flex;
    align-items: center;
    justify-content: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#list-container{
    padding: 2rem;
 /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */

}

.to-do-items{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: rgb(168, 182, 177);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(213, 214, 184);
    border-radius: 1rem;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.progress-container {
    width: 100%;
    height: 15px;
    background: #fff;
    margin: 10px ;
    border-radius: 5px;
}

#progress-bar{
    height: 15px;
    background-color: green;
    width: 0%;
    border-radius: 5px;
}

button{
    height: 2rem;
    width: 6rem;
    margin: 5px;
   background-color: rgb(233, 223, 211);
   border: 1px solid rgb(200, 200, 218);
   border-radius: 0.5rem;
   font-weight: 400;

}

#complete-count{
    margin: 10px;
}