body{
    text-align: center;
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

.box{
    height: 100px;
    width: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reset-btn{
    height: 35px;
    width: 65px;
    font-size: medium;
    cursor: pointer;
}

