.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 218, 218);
    padding: 15px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn{
    height: 2rem;
    width: 3rem;
    margin: 5px;
}



.btn1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.btn2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.btn3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.btn4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#btn-blue{
    background-color: blue;
    border: 1px solid blue;

}
#btn-red{
    background-color: red;
    border: 1px solid red;

}
#btn-green{
    background-color: green;
    border: 1px solid green;

}
#btn-yellow{
    background-color: yellow;
    border: 1px solid yellow;

}