body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: rgb(243, 243, 243);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgb(190, 186, 186);
}

.hidden{
    display: none;
}

#red{
    background-color: red;
}

#blue{
    background-color: rgb(124, 124, 245);
}

#green{
    background-color: green;
}

#dark-blue{
    background-color: darkblue;
}

#yellow{
    background-color: yellow;
}

#orange{
    background-color: orange;
}

.color-button{
    border: none;
    padding: 20px;
    border-radius: 3px;
}

button{
    margin: 4px;
}

.highlighted{
    box-shadow: 0px 8px 10px rgb(70, 77, 71);
    border: 2px solid rgb(83, 83, 33);
}